body{
    background-color:rgb(150, 146, 207);
    background-image:https://img.freepik.com/premium-photo/lake-pier-with-mountains-background_1033303-296.jpg?size=626&ext=jpg&ga=GA1.1.1880011253.1699660800&semt=ais;
}
.btn{
    border-radius:15px;
    padding:5px 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aquamarine;
    cursor:pointer;
}
.btn:hover{
    background-color:rgb(156, 156, 161);
  
}
